### Part I
Starting at the top-left corner of your map and following a slope of right 3 and down 1, how many trees would you encounter?

In [66]:
import numpy as np
import pandas as pd

In [49]:
with open("input") as f:
    lines = [list(line) for line in f.read().split("\n") if line]
df = pd.DataFrame(lines)
print(df.shape)
df

(323, 31)

    0  1  2  3  4  5  6  7  8  9   ... 21 22 23 24 25 26 27 28 29 30
0    .  .  #  .  .  .  .  .  .  #  ...  #  .  .  #  .  #  .  .  .  .
1    .  #  .  #  .  .  .  .  .  #  ...  .  .  .  #  #  .  .  .  #  #
2    .  .  #  .  #  .  .  #  .  .  ...  #  .  .  #  .  .  .  .  .  .
3    .  .  #  .  .  .  .  .  .  #  ...  #  #  .  .  .  .  .  .  .  .
4    .  .  .  #  .  .  #  #  #  .  ...  .  .  .  .  #  #  .  .  #  #
..  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
318  .  #  .  .  .  .  .  .  .  .  ...  .  .  #  #  #  .  .  .  .  #
319  .  .  .  .  .  .  .  .  #  .  ...  .  .  #  .  #  .  #  .  .  .
320  #  .  .  .  .  .  .  .  .  .  ...  .  .  .  .  .  .  #  .  .  #
321  .  .  .  .  .  .  .  .  .  .  ...  #  .  .  .  #  .  #  .  .  .
322  .  .  .  .  #  #  .  .  .  #  ...  .  #  .  .  .  .  .  .  .  .

[323 rows x 31 columns]

In [75]:
sample = """
..##.......
#...#...#..
.#....#..#.
..#.#...#.#
.#...##..#.
..#.##.....
.#.#.#....#
.#........#
#.##...#...
#...##....#
.#..#...#.#
"""
sample = pd.DataFrame([list(x) for x in sample.split("\n") if x])
sample

   0  1  2  3  4  5  6  7  8  9  10
0   .  .  #  #  .  .  .  .  .  .  .
1   #  .  .  .  #  .  .  .  #  .  .
2   .  #  .  .  .  .  #  .  .  #  .
3   .  .  #  .  #  .  .  .  #  .  #
4   .  #  .  .  .  #  #  .  .  #  .
5   .  .  #  .  #  #  .  .  .  .  .
6   .  #  .  #  .  #  .  .  .  .  #
7   .  #  .  .  .  .  .  .  .  .  #
8   #  .  #  #  .  .  .  #  .  .  .
9   #  .  .  .  #  #  .  .  .  .  #
10  .  #  .  .  #  .  .  .  #  .  #

In [57]:
i = 0
j = 0
counter = 0
while i < df.shape[0]:
    
    if j >= df.shape[1]:
        j = j % df.shape[1]
    
    if df.iloc[i,j] == "#":
        counter += 1
    i += 1
    j += 3

counter

262

### Part II
Determine the number of trees you would encounter if, for each of the following slopes, you start at the top-left corner and traverse the map all the way to the bottom:

    Right 1, down 1.
    Right 3, down 1. (This is the slope you already checked.)
    Right 5, down 1.
    Right 7, down 1.
    Right 1, down 2.

What do you get if you multiply together the number of trees encountered on each of the listed slopes?

In [84]:
def traverse(terrain, slope, verbose=False):
    
    i = 0
    j = 0
    counter = 0
    while i < terrain.shape[0]:
    
        if j >= terrain.shape[1]:
            j = j % terrain.shape[1]
        
        if verbose:
            print(i, j, terrrain.iloc[i,j])
            
        if terrain.iloc[i,j] == "#":
            counter += 1
        i += slope[0]
        j += slope[1]
    
    return counter

In [83]:
slopes = ((1, 1), (1, 3), (1, 5), (1, 7), (2, 1))
np.prod(np.array([traverse(df, slope) for slope in slopes]))

2698900776