# --- Day 6: Wait For It ---

## Part I
Determine the number of ways you could beat the record in each race. What do you get if you multiply these numbers together

In [20]:
import numpy as np
import pandas as pd

In [22]:
info = pd.read_csv("input.txt", header=None, delim_whitespace=True, index_col=0).T
info.columns = [x.split(":")[0] for x in info.columns]
info

   Time  Distance
1    48       255
2    87      1288
3    69      1117
4    81      1623

In [23]:
def scan(time, distance):
    n = 0
    for i in range(0, time+1):
        
        v = i
        t = time - i 
        s = v * t
        
        if s > distance:
            n += 1
    return n

scan(7, 9)

4

In [24]:
info["n"] = info.apply(lambda x: scan(x["Time"], x["Distance"]), axis=1)
info

   Time  Distance   n
1    48       255  35
2    87      1288  50
3    69      1117  18
4    81      1623   8

In [25]:
np.prod(info["n"].values)

252000

## --- Part Two ---
How many ways can you beat the record in this one much longer race?

In [47]:
info = pd.read_csv("input.txt", header=None, index_col=0, sep=":").T

info["Time"] = info["Time"].apply(lambda x: int(x.replace(" ", "")))
info["Distance"] = info["Distance"].apply(lambda x: int(x.replace(" ", "")))
info

0      Time         Distance
1  48876981  255128811171623

In [49]:
%%time
info["n"] = info.apply(lambda x: scan(x["Time"], x["Distance"]), axis=1)
info

CPU times: user 6.73 s, sys: 0 ns, total: 6.73 s
Wall time: 6.73 s

0      Time         Distance         n
1  48876981  255128811171623  36992486